exp-edas-dev-datafactory1/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "exp-edas-dev-datafactory1"
		},
		"ls_oracle_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_oracle'",
			"defaultValue": "host=@{linkedService().host};port=@{linkedService().port};sid=@{linkedService().SID};user id=@{linkedService().userName}"
		},
		"ls_sqlserver_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sqlserver'",
			"defaultValue": "Integrated Security=False;Data Source=@{linkedService().serverName};Initial Catalog=@{linkedService().databaseName};User ID=@{linkedService().userName}"
		},
		"ls_filesystem_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "@{linkedService().host}"
		},
		"ls_filesystem_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "@{linkedService().userName}"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SCD_Binary_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azdatalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"scd_Container": {
						"type": "string"
					},
					"scd_Folder": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SCD"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().scd_Folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().scd_Container",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCD_Delta_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azdatalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"targetName": {
						"type": "string"
					},
					"targetSchema": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SCD"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat('Delta/',dataset().targetSchema,'/',dataset().targetName)",
							"type": "Expression"
						},
						"fileSystem": "transformed"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_azsqldb_satacsqldbcontroldb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azsqldb_metadatacontroldb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "transformation",
						"type": "nvarchar"
					},
					{
						"name": "sourceSchema",
						"type": "nvarchar"
					},
					{
						"name": "sourceObject",
						"type": "nvarchar"
					},
					{
						"name": "targetSchema",
						"type": "nvarchar"
					},
					{
						"name": "targetObject",
						"type": "nvarchar"
					},
					{
						"name": "triggerName",
						"type": "nvarchar"
					},
					{
						"name": "copyEnabled",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "config",
					"table": "MaterialisedTransform"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_azsqldb_sqldbcontroldb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azsqldb_metadatacontroldb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "transformation",
						"type": "nvarchar"
					},
					{
						"name": "sourceSchema",
						"type": "nvarchar"
					},
					{
						"name": "sourceObject",
						"type": "nvarchar"
					},
					{
						"name": "targetSchema",
						"type": "nvarchar"
					},
					{
						"name": "targetObject",
						"type": "nvarchar"
					},
					{
						"name": "triggerName",
						"type": "nvarchar"
					},
					{
						"name": "copyEnabled",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "config",
					"table": "MaterialisedTransform"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_edaDelta')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azdatalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"targetName": {
						"type": "string"
					},
					"targetSchema": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat('Delta/',dataset().targetSchema,'/',dataset().targetName)",
							"type": "Expression"
						},
						"fileSystem": "transformed"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_synapseanalyticsdb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_synapsesqlondemand_gen01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_filesystem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Generic Oracle linked service for Filesystem Sources",
				"parameters": {
					"host": {
						"type": "string"
					},
					"userName": {
						"type": "string"
					},
					"passwordSecretName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('ls_filesystem_properties_typeProperties_host')]",
					"userId": "[parameters('ls_filesystem_properties_typeProperties_userId')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_azkeyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "@linkedService().passwordSecretName",
							"type": "Expression"
						}
					}
				},
				"connectVia": {
					"referenceName": "SelfHostedIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_oracle')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Generic Oracle linked service for Oracle Sources",
				"parameters": {
					"host": {
						"type": "string"
					},
					"port": {
						"type": "string"
					},
					"SID": {
						"type": "string"
					},
					"userName": {
						"type": "string"
					},
					"passwordSecretName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": "[parameters('ls_oracle_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_azkeyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "@linkedService().passwordSecretName",
							"type": "Expression"
						}
					}
				},
				"connectVia": {
					"referenceName": "SelfHostedIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sqlserver')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Generic SQL Server linked service for SQL Connections (Sources)",
				"parameters": {
					"serverName": {
						"type": "string"
					},
					"databaseName": {
						"type": "string"
					},
					"userName": {
						"type": "string"
					},
					"passwordSecretName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('ls_sqlserver_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_azkeyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "@linkedService().passwordSecretName",
							"type": "Expression"
						}
					}
				},
				"connectVia": {
					"referenceName": "SelfHostedIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_CETAS_SP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "The pipeline writes a view to an external table taking view name, table name and schema as parameters. View schema and table schema should be the same.\n\nThe process takes backup of the existing files if it fails the process restores the data.",
				"activities": [
					{
						"name": "Initial_Run_Check",
						"description": "Checks if the folder exists, if not it's assumed as the initial run for that external table",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "CETAS_Binary_DS",
								"type": "DatasetReference",
								"parameters": {
									"cetas_Container": {
										"value": "@pipeline().parameters.container",
										"type": "Expression"
									},
									"cetas_Folder": {
										"value": "@if(empty(pipeline().parameters.PipelineStartTime),concat(pipeline().parameters.targetSchema,'/',pipeline().parameters.targetName,'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'HHmm'),'/'),concat(pipeline().parameters.targetSchema,'/',pipeline().parameters.targetName,'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'HHmm'),'/'))",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Check Folder Exists",
						"description": "If the folder exists it deletes the backup folder takes the backup of existing data files and runs the CETAS DDL. If fails it restores the backup.  If not runs the CETAS, it creates the files.",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Initial_Run_Check",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Initial_Run_Check').output.exists",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Call_CETAS_Initial",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[helper].[usp_Write_External_Table_From_View]",
										"storedProcedureParameters": {
											"DATETIMEPATH": {
												"value": {
													"value": "@if(empty(pipeline().parameters.PipelineStartTime),concat(formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'HHmm')),concat(formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'HHmm')))",
													"type": "Expression"
												},
												"type": "String"
											},
											"SOURCESCHEMA": {
												"value": {
													"value": "@pipeline().parameters.sourceSchema",
													"type": "Expression"
												},
												"type": "String"
											},
											"STORAGEACCOUNT": {
												"value": {
													"value": "@pipeline().parameters.storageAccount",
													"type": "Expression"
												},
												"type": "String"
											},
											"TARGETSCHEMA": {
												"value": {
													"value": "@pipeline().parameters.targetSchema",
													"type": "Expression"
												},
												"type": "String"
											},
											"TB_NAME": {
												"value": {
													"value": "@pipeline().parameters.targetName",
													"type": "Expression"
												},
												"type": "String"
											},
											"VW_NAME": {
												"value": {
													"value": "@pipeline().parameters.sourceName",
													"type": "Expression"
												},
												"type": "String"
											},
											"debug": {
												"value": "0",
												"type": "Int16"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_synapsesqlondemand_gen01",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Backup_Data",
									"description": "Backups the data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "DeleteExistingBackup",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFolderPath": {
													"value": "@if(empty(pipeline().parameters.PipelineStartTime),concat(pipeline().parameters.targetSchema,'/',pipeline().parameters.targetName,'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'HHmm'),'/data/'),concat(pipeline().parameters.targetSchema,'/',pipeline().parameters.targetName,'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'HHmm'),'/data/'))",
													"type": "Expression"
												},
												"wildcardFileName": "*",
												"deleteFilesAfterCompletion": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "CETAS_Binary_DS",
											"type": "DatasetReference",
											"parameters": {
												"cetas_Container": {
													"value": "@pipeline().parameters.container",
													"type": "Expression"
												},
												"cetas_Folder": {
													"value": "@if(empty(pipeline().parameters.PipelineStartTime),concat(pipeline().parameters.targetSchema,'/',pipeline().parameters.targetName,'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'HHmm'),'/data/'),concat(pipeline().parameters.targetSchema,'/',pipeline().parameters.targetName,'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'HHmm'),'/data/'))",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "CETAS_Binary_DS",
											"type": "DatasetReference",
											"parameters": {
												"cetas_Container": {
													"value": "@pipeline().parameters.container",
													"type": "Expression"
												},
												"cetas_Folder": {
													"value": "@if(empty(pipeline().parameters.PipelineStartTime),concat(pipeline().parameters.targetSchema,'/',pipeline().parameters.targetName,'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'HHmm'),'/backup/'),concat(pipeline().parameters.targetSchema,'/',pipeline().parameters.targetName,'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'HHmm'),'/backup/'))",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "DeleteExistingBackup",
									"description": "Deletes the backup-it fails if the backup doesn't exist but pipeline continues to process. This happens only on the second run.",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "CETAS_Binary_DS",
											"type": "DatasetReference",
											"parameters": {
												"cetas_Container": {
													"value": "@pipeline().parameters.container",
													"type": "Expression"
												},
												"cetas_Folder": {
													"value": "@if(empty(pipeline().parameters.PipelineStartTime),concat(pipeline().parameters.targetSchema,'/',pipeline().parameters.targetName,'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'HHmm'),'/backup/'),concat(pipeline().parameters.targetSchema,'/',pipeline().parameters.targetName,'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'HHmm'),'/backup/'))",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"wildcardFileName": "*",
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "Call_CETAS",
									"description": "Runs the stored procedure with required parameters",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "DeleteTargetFolder",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[helper].[usp_Write_External_Table_From_View]",
										"storedProcedureParameters": {
											"DATETIMEPATH": {
												"value": {
													"value": "@if(empty(pipeline().parameters.PipelineStartTime),concat(formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'HHmm')),concat(formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'HHmm')))",
													"type": "Expression"
												},
												"type": "String"
											},
											"SOURCESCHEMA": {
												"value": {
													"value": "@pipeline().parameters.sourceSchema",
													"type": "Expression"
												},
												"type": "String"
											},
											"STORAGEACCOUNT": {
												"value": {
													"value": "@pipeline().parameters.storageAccount",
													"type": "Expression"
												},
												"type": "String"
											},
											"TARGETSCHEMA": {
												"value": {
													"value": "@pipeline().parameters.targetSchema",
													"type": "Expression"
												},
												"type": "String"
											},
											"TB_NAME": {
												"value": {
													"value": "@pipeline().parameters.targetName",
													"type": "Expression"
												},
												"type": "String"
											},
											"VW_NAME": {
												"value": {
													"value": "@pipeline().parameters.sourceName",
													"type": "Expression"
												},
												"type": "String"
											},
											"debug": {
												"value": "0",
												"type": "Int16"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_synapsesqlondemand_gen01",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Restore_Backup",
									"description": "Upon failure restores the backup files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Call_CETAS",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFolderPath": {
													"value": "@if(empty(pipeline().parameters.PipelineStartTime),concat(pipeline().parameters.targetSchema,'/',pipeline().parameters.targetName,'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'HHmm'),'/backup/'),concat(pipeline().parameters.targetSchema,'/',pipeline().parameters.targetName,'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'HHmm'),'/backup/'))",
													"type": "Expression"
												},
												"wildcardFileName": "*",
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "CETAS_Binary_DS",
											"type": "DatasetReference",
											"parameters": {
												"cetas_Container": {
													"value": "@pipeline().parameters.container",
													"type": "Expression"
												},
												"cetas_Folder": {
													"value": "@if(empty(pipeline().parameters.PipelineStartTime),concat(pipeline().parameters.targetSchema,'/',pipeline().parameters.targetName,'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'HHmm'),'/backup/'),concat(pipeline().parameters.targetSchema,'/',pipeline().parameters.targetName,'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'HHmm'),'/backup/'))",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "CETAS_Binary_DS",
											"type": "DatasetReference",
											"parameters": {
												"cetas_Container": {
													"value": "@pipeline().parameters.container",
													"type": "Expression"
												},
												"cetas_Folder": {
													"value": "@if(empty(pipeline().parameters.PipelineStartTime),concat(pipeline().parameters.targetSchema,'/',pipeline().parameters.targetName,'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'HHmm'),'/data/'),concat(pipeline().parameters.targetSchema,'/',pipeline().parameters.targetName,'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'HHmm'),'/data/'))",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "DeleteTargetFolder",
									"description": "Deletes the target folder for CETAS",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Backup_Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "CETAS_Binary_DS",
											"type": "DatasetReference",
											"parameters": {
												"cetas_Container": {
													"value": "@pipeline().parameters.container",
													"type": "Expression"
												},
												"cetas_Folder": {
													"value": "@if(empty(pipeline().parameters.PipelineStartTime),concat(pipeline().parameters.targetSchema,'/',pipeline().parameters.targetName,'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'HHmm'),'/data/'),concat(pipeline().parameters.targetSchema,'/',pipeline().parameters.targetName,'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'yyyy'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'MM'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'dd'),'/',formatDateTime(convertTimeZone(pipeline().parameters.PipelineStartTime,'UTC','Cen. Australia Standard Time'), 'HHmm'),'/data/'))",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"targetName": {
						"type": "string"
					},
					"targetSchema": {
						"type": "string"
					},
					"sourceName": {
						"type": "string"
					},
					"sourceSchema": {
						"type": "string"
					},
					"container": {
						"type": "string"
					},
					"storageAccount": {
						"type": "string"
					},
					"PipelineStartTime": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SCD/Transformations"
				},
				"annotations": [],
				"lastPublishTime": "2023-11-13T03:31:16Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AuditLogs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PartitionLoadAuditLogs",
						"description": "Copy the changed data only from last time via comparing the value in watermark column to identify changes.",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT [logId]\n      ,[sourceType]\n      ,[schema]\n      ,[table]\n      ,[schedule]\n      ,[activity]\n      ,[commenceDateTime]\n      ,[completeDateTime]\n      ,[status]\n      ,[errorText]\n      ,[rowsCopied]\n      ,[elMethod]\n      ,[watermark]\n      ,[runDate]\n  FROM [config].[AuditLog]\n  WHERE [runDate] = cast(getdate() as date);",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "logId",
											"type": "Int64"
										},
										"sink": {
											"name": "logId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "sourceType",
											"type": "String"
										},
										"sink": {
											"name": "sourceType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "schema",
											"type": "String"
										},
										"sink": {
											"name": "schema",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "table",
											"type": "String"
										},
										"sink": {
											"name": "table",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "schedule",
											"type": "String"
										},
										"sink": {
											"name": "schedule",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "activity",
											"type": "String"
										},
										"sink": {
											"name": "activity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "commenceDateTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "commenceDateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "completeDateTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "completeDateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String"
										},
										"sink": {
											"name": "status",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "errorText",
											"type": "String"
										},
										"sink": {
											"name": "errorText",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "rowsCopied",
											"type": "Int64"
										},
										"sink": {
											"name": "rowsCopied",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "elMethod",
											"type": "String"
										},
										"sink": {
											"name": "elMethod",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "watermark",
											"type": "String"
										},
										"sink": {
											"name": "watermark",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "runDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "runDate",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AuditLogs_DataSource",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "MetadataDrivenCopy_SQL_ParquetDestinationDS",
								"type": "DatasetReference",
								"parameters": {
									"cw_compressionCodec": "snappy",
									"cw_columnDelimiter": "|",
									"cw_escapeChar": "\\",
									"cw_quoteChar": "\"",
									"cw_fileName": "AuditLogs",
									"cw_folderPath": "metadata\\AuditLogs",
									"cw_fileSystem": "statenet-raw-optimised",
									"cw_pipelineStartTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Metadata"
				},
				"annotations": [],
				"lastPublishTime": "2023-11-13T03:31:16Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataDrivenCopy_Excel_SourceDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_filesystem",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_worksheetName": {
						"type": "string"
					},
					"cw_folderName": {
						"type": "string"
					},
					"cw_fileName": {
						"type": "string"
					},
					"cw_ls_host": {
						"type": "string"
					},
					"cw_ls_userName": {
						"type": "string"
					},
					"cw_ls_passwordSecretName": {
						"type": "string"
					},
					"cw_range": {
						"type": "string"
					},
					"cw_firstRowAsHeaderSource": {
						"type": "bool"
					}
				},
				"folder": {
					"name": "MetadataDrivenCopy_FileSystem"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().cw_worksheetName",
						"type": "Expression"
					},
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().cw_fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().cw_folderName",
							"type": "Expression"
						}
					},
					"range": {
						"value": "@dataset().cw_range",
						"type": "Expression"
					},
					"firstRowAsHeader": {
						"value": "@dataset().cw_firstRowAsHeaderSource",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_filesystem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataDrivenCopy_FileSystem_SourceDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_filesystem",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_worksheetName": {
						"type": "string"
					},
					"cw_folderName": {
						"type": "string"
					},
					"cw_fileName": {
						"type": "string"
					},
					"cw_ls_host": {
						"type": "string"
					},
					"cw_ls_userName": {
						"type": "string"
					},
					"cw_ls_passwordSecretName": {
						"type": "string"
					},
					"cw_range": {
						"type": "string"
					},
					"cw_columnDelimiter": {
						"type": "String"
					},
					"cw_escapeChar": {
						"type": "String"
					},
					"cw_quoteChar": {
						"type": "String"
					},
					"cw_firstRowAsHeaderSource": {
						"type": "bool"
					}
				},
				"folder": {
					"name": "MetadataDrivenCopy_FileSystem"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().cw_fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().cw_folderName",
							"type": "Expression"
						}
					},
					"columnDelimiter": {
						"value": "@dataset().cw_columnDelimiter",
						"type": "Expression"
					},
					"escapeChar": {
						"value": "@dataset().cw_escapeChar",
						"type": "Expression"
					},
					"firstRowAsHeader": {
						"value": "@dataset().cw_firstRowAsHeaderSource",
						"type": "Expression"
					},
					"quoteChar": {
						"value": "@dataset().cw_quoteChar",
						"type": "Expression"
					},
					"sheetName": {
						"value": "@dataset().cw_worksheetName",
						"type": "Expression"
					},
					"range": {
						"value": "@dataset().cw_range",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_filesystem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataDrivenCopy_Oracle_SourceDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_oracle",
					"type": "LinkedServiceReference",
					"parameters": {
						"host": {
							"value": "@dataset().cw_ls_host",
							"type": "Expression"
						},
						"port": {
							"value": "@dataset().cw_ls_port",
							"type": "Expression"
						},
						"SID": {
							"value": "@dataset().cw_ls_SID",
							"type": "Expression"
						},
						"userName": {
							"value": "@dataset().cw_ls_userName",
							"type": "Expression"
						},
						"passwordSecretName": {
							"value": "@dataset().cw_ls_passwordSecretName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"cw_schema": {
						"type": "String"
					},
					"cw_table": {
						"type": "String"
					},
					"cw_ls_host": {
						"type": "String"
					},
					"cw_ls_port": {
						"type": "String"
					},
					"cw_ls_SID": {
						"type": "String"
					},
					"cw_ls_userName": {
						"type": "String"
					},
					"cw_ls_passwordSecretName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "MetadataDrivenCopy_Oracle"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().cw_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_oracle')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataDrivenCopy_SQL_SourceDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqlserver",
					"type": "LinkedServiceReference",
					"parameters": {
						"serverName": {
							"value": "@dataset().cw_ls_serverName",
							"type": "Expression"
						},
						"databaseName": {
							"value": "@dataset().cw_ls_databaseName",
							"type": "Expression"
						},
						"userName": {
							"value": "@dataset().cw_ls_userName",
							"type": "Expression"
						},
						"passwordSecretName": {
							"value": "@dataset().cw_ls_passwordSecretName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"cw_schema": {
						"type": "String"
					},
					"cw_table": {
						"type": "String"
					},
					"cw_ls_serverName": {
						"type": "String"
					},
					"cw_ls_databaseName": {
						"type": "String"
					},
					"cw_ls_userName": {
						"type": "String"
					},
					"cw_ls_passwordSecretName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "MetadataDrivenCopy_SQL"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().cw_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqlserver')]"
			]
		}
	]
}