pipeline/MetadataDrivenCopy_FlatFile_BottomLevel.json
{
	"name": "MetadataDrivenCopy_FlatFile_BottomLevel",
	"properties": {
		"description": "This pipeline will copy objects from one group. The objects belonging to this group will be copied parallelly.",
		"activities": [
			{
				"name": "ListObjectsFromOneGroup",
				"description": "List objects from one group and iterate each of them to downstream activities",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ObjectsPerGroupToCopy",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "RouteJobsBasedOnLoadingBehavior",
							"description": "Only doing full load as the files will be small keeping the same structure in case we need an incremental load.",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "GetSourceConnectionValues",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@json(item().DataLoadingBehaviorSettings).dataLoadingBehavior",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "FullLoad",
										"activities": [
											{
												"name": "FullLoadOneObject_Parquet",
												"description": "Take a full snapshot on this object and copy it to the destination",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "LogParquetCommence_FL",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Source",
														"value": "@{json(item().ParquetSourceObjectSettings).fileSystem}/@{json(item().ParquetSourceObjectSettings).folderPath}/@{json(item().ParquetSourceObjectSettings).fileName}"
													},
													{
														"name": "Destination",
														"value": "@{json(item().ParquetSinkObjectSettings).fileSystem}/@{json(item().ParquetSinkObjectSettings).folderPath}/@{json(item().ParquetSinkObjectSettings).fileName}"
													}
												],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "loadDate",
																"value": {
																	"value": "@formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'yyyyMMdd')",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings",
															"copyBehavior": {
																"value": "@json(item().ParquetCopySinkSettings).copyBehavior",
																"type": "Expression"
															}
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"validateDataConsistency": true,
													"translator": {
														"value": "@json(item().ParquetCopyActivitySettings).translator",
														"type": "Expression"
													}
												},
												"inputs": [
													{
														"referenceName": "MetadataDrivenCopy_FileSystem_ParquetSourceDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_columnDelimiter": {
																"value": "@json(item().ParquetSourceObjectSettings).columnDelimiter",
																"type": "Expression"
															},
															"cw_escapeChar": {
																"value": "@json(item().ParquetSourceObjectSettings).escapeChar",
																"type": "Expression"
															},
															"cw_quoteChar": {
																"value": "@json(item().ParquetSourceObjectSettings).quoteChar",
																"type": "Expression"
															},
															"cw_firstRowAsHeader": {
																"value": "@json(item().ParquetSourceObjectSettings).firstRowAsHeader",
																"type": "Expression"
															},
															"cw_fileName": {
																"value": "@json(item().ParquetSourceObjectSettings).fileName",
																"type": "Expression"
															},
															"cw_folderPath": {
																"value": "@json(item().ParquetSourceObjectSettings).folderPath",
																"type": "Expression"
															},
															"cw_fileSystem": {
																"value": "@json(item().ParquetSourceObjectSettings).fileSystem",
																"type": "Expression"
															},
															"cw_container": {
																"value": "@json(item().ParquetSourceObjectSettings).container",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "MetadataDrivenCopy_FileSystem_ParquetDestinationDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_compressionCodec": {
																"value": "@json(item().ParquetSinkObjectSettings).compressionCodec",
																"type": "Expression"
															},
															"cw_columnDelimiter": {
																"value": "@json(item().ParquetSinkObjectSettings).columnDelimiter",
																"type": "Expression"
															},
															"cw_escapeChar": {
																"value": "@json(item().ParquetSinkObjectSettings).escapeChar",
																"type": "Expression"
															},
															"cw_quoteChar": {
																"value": "@json(item().ParquetSinkObjectSettings).quoteChar",
																"type": "Expression"
															},
															"cw_fileName": {
																"value": "@json(item().ParquetSinkObjectSettings).fileName",
																"type": "Expression"
															},
															"cw_folderPath": {
																"value": "@json(item().ParquetSinkObjectSettings).folderPath",
																"type": "Expression"
															},
															"cw_fileSystem": {
																"value": "@json(item().ParquetSinkObjectSettings).fileSystem",
																"type": "Expression"
															},
															"cw_container": {
																"value": "@json(item().ParquetSinkObjectSettings).container",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "LogCSVCommence_FL",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[config].[sp_upd_AuditLog]",
													"storedProcedureParameters": {
														"activity": {
															"value": "csv copy",
															"type": "String"
														},
														"commenceDateTime": {
															"value": {
																"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"completeDateTime": {
															"value": null,
															"type": "DateTime"
														},
														"elMethod": {
															"value": {
																"value": "@json(item().DataLoadingBehaviorSettings).dataLoadingBehavior",
																"type": "Expression"
															},
															"type": "String"
														},
														"errorText": {
															"value": null,
															"type": "String"
														},
														"runDate": {
															"value": {
																"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"schedule": {
															"value": {
																"value": "@pipeline().parameters.TriggerName",
																"type": "Expression"
															},
															"type": "String"
														},
														"schema": {
															"value": {
																"value": "@json(item().SourceObjectSettings).fileName",
																"type": "Expression"
															},
															"type": "String"
														},
														"sourceType": {
															"value": {
																"value": "@item().SourceConnectionSettingsName",
																"type": "Expression"
															},
															"type": "String"
														},
														"status": {
															"value": "commenced",
															"type": "String"
														},
														"table": {
															"value": {
																"value": "@json(item().SourceObjectSettings).sheetName",
																"type": "Expression"
															},
															"type": "String"
														},
														"watermark": {
															"value": null,
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_azsqldb_metadatacontroldb",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "LogCSVSuccess_FL",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "FullLoadOneObject",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[config].[sp_upd_AuditLog]",
													"storedProcedureParameters": {
														"activity": {
															"value": "csv copy",
															"type": "String"
														},
														"commenceDateTime": {
															"value": null,
															"type": "DateTime"
														},
														"completeDateTime": {
															"value": {
																"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"elMethod": {
															"value": {
																"value": "@json(item().DataLoadingBehaviorSettings).dataLoadingBehavior",
																"type": "Expression"
															},
															"type": "String"
														},
														"errorText": {
															"value": null,
															"type": "String"
														},
														"runDate": {
															"value": {
																"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"schedule": {
															"value": {
																"value": "@pipeline().parameters.TriggerName",
																"type": "Expression"
															},
															"type": "String"
														},
														"schema": {
															"value": {
																"value": "@json(item().SourceObjectSettings).fileName",
																"type": "Expression"
															},
															"type": "String"
														},
														"sourceType": {
															"value": {
																"value": "@item().SourceConnectionSettingsName",
																"type": "Expression"
															},
															"type": "String"
														},
														"status": {
															"value": "succeeded",
															"type": "String"
														},
														"table": {
															"value": {
																"value": "@json(item().SourceObjectSettings).sheetName",
																"type": "Expression"
															},
															"type": "String"
														},
														"watermark": {
															"value": null,
															"type": "String"
														},
														"rowsCopied": {
															"value": {
																"value": "@activity('FullLoadOneObject').output?.rowsCopied",
																"type": "Expression"
															},
															"type": "Int64"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_azsqldb_metadatacontroldb",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "LogParquetCommence_FL",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "LogCSVSuccess_FL",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[config].[sp_upd_AuditLog]",
													"storedProcedureParameters": {
														"activity": {
															"value": "parquet copy",
															"type": "String"
														},
														"commenceDateTime": {
															"value": {
																"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"completeDateTime": {
															"value": null,
															"type": "DateTime"
														},
														"elMethod": {
															"value": {
																"value": "@json(item().DataLoadingBehaviorSettings).dataLoadingBehavior",
																"type": "Expression"
															},
															"type": "String"
														},
														"errorText": {
															"value": null,
															"type": "String"
														},
														"runDate": {
															"value": {
																"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"schedule": {
															"value": {
																"value": "@pipeline().parameters.TriggerName",
																"type": "Expression"
															},
															"type": "String"
														},
														"schema": {
															"value": {
																"value": "@json(item().SourceObjectSettings).fileName",
																"type": "Expression"
															},
															"type": "String"
														},
														"sourceType": {
															"value": {
																"value": "@item().SourceConnectionSettingsName",
																"type": "Expression"
															},
															"type": "String"
														},
														"status": {
															"value": "commenced",
															"type": "String"
														},
														"table": {
															"value": {
																"value": "@json(item().SourceObjectSettings).sheetName",
																"type": "Expression"
															},
															"type": "String"
														},
														"watermark": {
															"value": null,
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_azsqldb_metadatacontroldb",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "LogCSVFail_FL",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "FullLoadOneObject",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[config].[sp_upd_AuditLog]",
													"storedProcedureParameters": {
														"activity": {
															"value": "csv copy",
															"type": "String"
														},
														"commenceDateTime": {
															"value": null,
															"type": "DateTime"
														},
														"completeDateTime": {
															"value": {
																"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"elMethod": {
															"value": {
																"value": "@json(item().DataLoadingBehaviorSettings).dataLoadingBehavior",
																"type": "Expression"
															},
															"type": "String"
														},
														"errorText": {
															"value": {
																"value": "@activity('FullLoadOneObject').error?.message",
																"type": "Expression"
															},
															"type": "String"
														},
														"runDate": {
															"value": {
																"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"schedule": {
															"value": {
																"value": "@pipeline().parameters.TriggerName",
																"type": "Expression"
															},
															"type": "String"
														},
														"schema": {
															"value": {
																"value": "@json(item().SourceObjectSettings).fileName",
																"type": "Expression"
															},
															"type": "String"
														},
														"sourceType": {
															"value": {
																"value": "@item().SourceConnectionSettingsName",
																"type": "Expression"
															},
															"type": "String"
														},
														"status": {
															"value": "failed",
															"type": "String"
														},
														"table": {
															"value": {
																"value": "@json(item().SourceObjectSettings).sheetName",
																"type": "Expression"
															},
															"type": "String"
														},
														"watermark": {
															"value": null,
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_azsqldb_metadatacontroldb",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Fail_LogCSVFail_FL",
												"type": "Fail",
												"dependsOn": [
													{
														"activity": "LogCSVFail_FL",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"message": {
														"value": "@concat('Acitivity failed for object: ', item().SourceObjectSettings, '. Please review the audit logs for more details.')",
														"type": "Expression"
													},
													"errorCode": "3204"
												}
											},
											{
												"name": "LogParquetSuccess_FL",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "FullLoadOneObject_Parquet",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[config].[sp_upd_AuditLog]",
													"storedProcedureParameters": {
														"activity": {
															"value": "parquet copy",
															"type": "String"
														},
														"commenceDateTime": {
															"value": null,
															"type": "DateTime"
														},
														"completeDateTime": {
															"value": {
																"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"elMethod": {
															"value": {
																"value": "@json(item().DataLoadingBehaviorSettings).dataLoadingBehavior",
																"type": "Expression"
															},
															"type": "String"
														},
														"errorText": {
															"value": null,
															"type": "String"
														},
														"runDate": {
															"value": {
																"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"schedule": {
															"value": {
																"value": "@pipeline().parameters.TriggerName",
																"type": "Expression"
															},
															"type": "String"
														},
														"schema": {
															"value": {
																"value": "@json(item().SourceObjectSettings).fileName",
																"type": "Expression"
															},
															"type": "String"
														},
														"sourceType": {
															"value": {
																"value": "@item().SourceConnectionSettingsName",
																"type": "Expression"
															},
															"type": "String"
														},
														"status": {
															"value": "succeeded",
															"type": "String"
														},
														"table": {
															"value": {
																"value": "@json(item().SourceObjectSettings).sheetName",
																"type": "Expression"
															},
															"type": "String"
														},
														"watermark": {
															"value": null,
															"type": "String"
														},
														"rowsCopied": {
															"value": {
																"value": "@activity('FullLoadOneObject_Parquet').output?.rowsCopied",
																"type": "Expression"
															},
															"type": "Int64"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_azsqldb_metadatacontroldb",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "LogParquetFail_FL",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "FullLoadOneObject_Parquet",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[config].[sp_upd_AuditLog]",
													"storedProcedureParameters": {
														"activity": {
															"value": "parquet copy",
															"type": "String"
														},
														"commenceDateTime": {
															"value": null,
															"type": "DateTime"
														},
														"completeDateTime": {
															"value": {
																"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"elMethod": {
															"value": {
																"value": "@json(item().DataLoadingBehaviorSettings).dataLoadingBehavior",
																"type": "Expression"
															},
															"type": "String"
														},
														"errorText": {
															"value": {
																"value": "@activity('FullLoadOneObject_Parquet').error?.message",
																"type": "Expression"
															},
															"type": "String"
														},
														"runDate": {
															"value": {
																"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"schedule": {
															"value": {
																"value": "@pipeline().parameters.TriggerName",
																"type": "Expression"
															},
															"type": "String"
														},
														"schema": {
															"value": {
																"value": "@json(item().SourceObjectSettings).fileName",
																"type": "Expression"
															},
															"type": "String"
														},
														"sourceType": {
															"value": {
																"value": "@item().SourceConnectionSettingsName",
																"type": "Expression"
															},
															"type": "String"
														},
														"status": {
															"value": "failed",
															"type": "String"
														},
														"table": {
															"value": {
																"value": "@json(item().SourceObjectSettings).sheetName",
																"type": "Expression"
															},
															"type": "String"
														},
														"watermark": {
															"value": null,
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_azsqldb_metadatacontroldb",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Fail_LogParquetFail_FL",
												"type": "Fail",
												"dependsOn": [
													{
														"activity": "LogParquetFail_FL",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"message": {
														"value": "@concat('Acitivity failed for object: ', item().SourceObjectSettings, '. Please review the audit logs for more details.')",
														"type": "Expression"
													},
													"errorCode": "3204"
												}
											},
											{
												"name": "FullLoadOneObject",
												"description": "Take a full snapshot on this object and copy it to the destination",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "LogCSVCommence_FL",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "FileServerReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"value": "@json(item().CopyActivitySettings).translator",
														"type": "Expression"
													}
												},
												"inputs": [
													{
														"referenceName": "MetadataDrivenCopy_FileSystem_SourceDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_worksheetName": {
																"value": "@json(item().SourceObjectSettings).sheetName",
																"type": "Expression"
															},
															"cw_folderName": {
																"value": "@json(item().SourceObjectSettings).filePath",
																"type": "Expression"
															},
															"cw_fileName": {
																"value": "@json(item().SourceObjectSettings).fileName",
																"type": "Expression"
															},
															"cw_ls_host": {
																"value": "@json(activity('GetSourceConnectionValues').output.value[0].ConnectionSettings).host",
																"type": "Expression"
															},
															"cw_ls_userName": {
																"value": "@json(activity('GetSourceConnectionValues').output.value[0].ConnectionSettings).userName",
																"type": "Expression"
															},
															"cw_ls_passwordSecretName": {
																"value": "@json(activity('GetSourceConnectionValues').output.value[0].ConnectionSettings).passwordSecretName",
																"type": "Expression"
															},
															"cw_range": {
																"value": "@json(item().SourceObjectSettings).range",
																"type": "Expression"
															},
															"cw_columnDelimiter": {
																"value": "@json(item().SinkObjectSettings).columnDelimiter",
																"type": "Expression"
															},
															"cw_escapeChar": {
																"value": "@json(item().SinkObjectSettings).escapeChar",
																"type": "Expression"
															},
															"cw_quoteChar": {
																"value": "@json(item().SinkObjectSettings).quoteChar",
																"type": "Expression"
															},
															"cw_firstRowAsHeaderSource": {
																"value": "@json(item().SourceObjectSettings).firstRowAsHeaderSource",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "MetadataDrivenCopy_FileSystem_DestinationDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_compressionCodec": {
																"value": "@json(item().SinkObjectSettings).compressionCodec",
																"type": "Expression"
															},
															"cw_compressionLevel": {
																"value": "@json(item().SinkObjectSettings).compressionLevel",
																"type": "Expression"
															},
															"cw_columnDelimiter": {
																"value": "@json(item().SinkObjectSettings).columnDelimiter",
																"type": "Expression"
															},
															"cw_escapeChar": {
																"value": "@json(item().SinkObjectSettings).escapeChar",
																"type": "Expression"
															},
															"cw_quoteChar": {
																"value": "@json(item().SinkObjectSettings).quoteChar",
																"type": "Expression"
															},
															"cw_firstRowAsHeader": {
																"value": "@json(item().SinkObjectSettings).firstRowAsHeader",
																"type": "Expression"
															},
															"cw_fileName": {
																"value": "@json(item().SinkObjectSettings).fileName",
																"type": "Expression"
															},
															"cw_folderPath": {
																"value": "@json(item().SinkObjectSettings).folderPath",
																"type": "Expression"
															},
															"cw_container": {
																"value": "@json(item().SinkObjectSettings).container",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "DefaultOneObject",
										"description": "Take a full snapshot on this object and copy it to the destination",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "LogCSVCommence",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "FileServerReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"value": "@json(item().CopyActivitySettings).translator",
												"type": "Expression"
											}
										},
										"inputs": [
											{
												"referenceName": "MetadataDrivenCopy_FileSystem_SourceDS",
												"type": "DatasetReference",
												"parameters": {
													"cw_worksheetName": {
														"value": "@json(item().SourceObjectSettings).sheetName",
														"type": "Expression"
													},
													"cw_folderName": {
														"value": "@json(item().SourceObjectSettings).filePath",
														"type": "Expression"
													},
													"cw_fileName": {
														"value": "@json(item().SourceObjectSettings).fileName",
														"type": "Expression"
													},
													"cw_ls_host": {
														"value": "@json(activity('GetSourceConnectionValues').output.value[0].ConnectionSettings).host",
														"type": "Expression"
													},
													"cw_ls_userName": {
														"value": "@json(activity('GetSourceConnectionValues').output.value[0].ConnectionSettings).userName",
														"type": "Expression"
													},
													"cw_ls_passwordSecretName": {
														"value": "@json(activity('GetSourceConnectionValues').output.value[0].ConnectionSettings).passwordSecretName",
														"type": "Expression"
													},
													"cw_range": {
														"value": "@json(item().SourceObjectSettings).range",
														"type": "Expression"
													},
													"cw_columnDelimiter": {
														"value": "@json(item().SinkObjectSettings).columnDelimiter",
														"type": "Expression"
													},
													"cw_escapeChar": {
														"value": "@json(item().SinkObjectSettings).escapeChar",
														"type": "Expression"
													},
													"cw_quoteChar": {
														"value": "@json(item().SinkObjectSettings).quoteChar",
														"type": "Expression"
													},
													"cw_firstRowAsHeaderSource": {
														"value": "@json(item().SourceObjectSettings).firstRowAsHeaderSource",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "MetadataDrivenCopy_FileSystem_DestinationDS",
												"type": "DatasetReference",
												"parameters": {
													"cw_compressionCodec": {
														"value": "@json(item().SinkObjectSettings).compressionCodec",
														"type": "Expression"
													},
													"cw_compressionLevel": {
														"value": "@json(item().SinkObjectSettings).compressionLevel",
														"type": "Expression"
													},
													"cw_columnDelimiter": {
														"value": "@json(item().SinkObjectSettings).columnDelimiter",
														"type": "Expression"
													},
													"cw_escapeChar": {
														"value": "@json(item().SinkObjectSettings).escapeChar",
														"type": "Expression"
													},
													"cw_quoteChar": {
														"value": "@json(item().SinkObjectSettings).quoteChar",
														"type": "Expression"
													},
													"cw_firstRowAsHeader": {
														"value": "@json(item().SinkObjectSettings).firstRowAsHeader",
														"type": "Expression"
													},
													"cw_fileName": {
														"value": "@json(item().SinkObjectSettings).fileName",
														"type": "Expression"
													},
													"cw_folderPath": {
														"value": "@json(item().SinkObjectSettings).folderPath",
														"type": "Expression"
													},
													"cw_container": {
														"value": "@json(item().SinkObjectSettings).container",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "DefaultOneObject_Parquet",
										"description": "Take a full snapshot on this object and copy it to the destination",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "LogParquetCommence_FL_copy1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "Source",
												"value": "@{json(item().ParquetSourceObjectSettings).fileSystem}/@{json(item().ParquetSourceObjectSettings).folderPath}/@{json(item().ParquetSourceObjectSettings).fileName}"
											},
											{
												"name": "Destination",
												"value": "@{json(item().ParquetSinkObjectSettings).fileSystem}/@{json(item().ParquetSinkObjectSettings).folderPath}/@{json(item().ParquetSinkObjectSettings).fileName}"
											}
										],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "loadDate",
														"value": {
															"value": "@formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Cen. Australia Standard Time'), 'yyyyMMdd')",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings",
													"copyBehavior": {
														"value": "@json(item().ParquetCopySinkSettings).copyBehavior",
														"type": "Expression"
													}
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"validateDataConsistency": true,
											"translator": {
												"value": "@json(item().ParquetCopyActivitySettings).translator",
												"type": "Expression"
											}
										},
										"inputs": [
											{
												"referenceName": "MetadataDrivenCopy_FileSystem_ParquetSourceDS",
												"type": "DatasetReference",
												"parameters": {
													"cw_columnDelimiter": {
														"value": "@json(item().ParquetSourceObjectSettings).columnDelimiter",
														"type": "Expression"
													},
													"cw_escapeChar": {
														"value": "@json(item().ParquetSourceObjectSettings).escapeChar",
														"type": "Expression"
													},
													"cw_quoteChar": {
														"value": "@json(item().ParquetSourceObjectSettings).quoteChar",
														"type": "Expression"
													},
													"cw_firstRowAsHeader": {
														"value": "@json(item().ParquetSourceObjectSettings).firstRowAsHeader",
														"type": "Expression"
													},
													"cw_fileName": {
														"value": "@json(item().ParquetSourceObjectSettings).fileName",
														"type": "Expression"
													},
													"cw_folderPath": {
														"value": "@json(item().ParquetSourceObjectSettings).folderPath",
														"type": "Expression"
													},
													"cw_fileSystem": {
														"value": "@json(item().ParquetSourceObjectSettings).fileSystem",
														"type": "Expression"
													},
													"cw_container": {
														"value": "@json(item().ParquetSourceObjectSettings).container",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "MetadataDrivenCopy_FileSystem_ParquetDestinationDS",
												"type": "DatasetReference",
												"parameters": {
													"cw_compressionCodec": {
														"value": "@json(item().ParquetSinkObjectSettings).compressionCodec",
														"type": "Expression"
													},
													"cw_columnDelimiter": {
														"value": "@json(item().ParquetSinkObjectSettings).columnDelimiter",
														"type": "Expression"
													},
													"cw_escapeChar": {
														"value": "@json(item().ParquetSinkObjectSettings).escapeChar",
														"type": "Expression"
													},
													"cw_quoteChar": {
														"value": "@json(item().ParquetSinkObjectSettings).quoteChar",
														"type": "Expression"
													},
													"cw_fileName": {
														"value": "@json(item().ParquetSinkObjectSettings).fileName",
														"type": "Expression"
													},
													"cw_folderPath": {
														"value": "@json(item().ParquetSinkObjectSettings).folderPath",
														"type": "Expression"
													},
													"cw_fileSystem": {
														"value": "@json(item().ParquetSinkObjectSettings).fileSystem",
														"type": "Expression"
													},
													"cw_container": {
														"value": "@json(item().ParquetSinkObjectSettings).container",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "LogCSVCommence",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[config].[sp_upd_AuditLog]",
											"storedProcedureParameters": {
												"activity": {
													"value": "csv copy",
													"type": "String"
												},
												"commenceDateTime": {
													"value": {
														"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"completeDateTime": {
													"value": null,
													"type": "DateTime"
												},
												"elMethod": {
													"value": {
														"value": "@json(item().DataLoadingBehaviorSettings).dataLoadingBehavior",
														"type": "Expression"
													},
													"type": "String"
												},
												"errorText": {
													"value": null,
													"type": "String"
												},
												"runDate": {
													"value": {
														"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"schedule": {
													"value": {
														"value": "@pipeline().parameters.TriggerName",
														"type": "Expression"
													},
													"type": "String"
												},
												"schema": {
													"value": {
														"value": "@json(item().SourceObjectSettings).fileName",
														"type": "Expression"
													},
													"type": "String"
												},
												"sourceType": {
													"value": {
														"value": "@item().SourceConnectionSettingsName",
														"type": "Expression"
													},
													"type": "String"
												},
												"status": {
													"value": "commenced",
													"type": "String"
												},
												"table": {
													"value": {
														"value": "@json(item().SourceObjectSettings).sheetName",
														"type": "Expression"
													},
													"type": "String"
												},
												"watermark": {
													"value": null,
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_azsqldb_metadatacontroldb",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "LogCSVSuccess",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "DefaultOneObject",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[config].[sp_upd_AuditLog]",
											"storedProcedureParameters": {
												"activity": {
													"value": "csv copy",
													"type": "String"
												},
												"commenceDateTime": {
													"value": null,
													"type": "DateTime"
												},
												"completeDateTime": {
													"value": {
														"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"elMethod": {
													"value": {
														"value": "@json(item().DataLoadingBehaviorSettings).dataLoadingBehavior",
														"type": "Expression"
													},
													"type": "String"
												},
												"errorText": {
													"value": null,
													"type": "String"
												},
												"runDate": {
													"value": {
														"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"schedule": {
													"value": {
														"value": "@pipeline().parameters.TriggerName",
														"type": "Expression"
													},
													"type": "String"
												},
												"schema": {
													"value": {
														"value": "@json(item().SourceObjectSettings).fileName",
														"type": "Expression"
													},
													"type": "String"
												},
												"sourceType": {
													"value": {
														"value": "@item().SourceConnectionSettingsName",
														"type": "Expression"
													},
													"type": "String"
												},
												"status": {
													"value": "succeeded",
													"type": "String"
												},
												"table": {
													"value": {
														"value": "@json(item().SourceObjectSettings).sheetName",
														"type": "Expression"
													},
													"type": "String"
												},
												"watermark": {
													"value": null,
													"type": "String"
												},
												"rowsCopied": {
													"value": {
														"value": "@activity('DefaultOneObject').output?.rowsCopied",
														"type": "Expression"
													},
													"type": "Int64"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_azsqldb_metadatacontroldb",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "LogParquetCommence_FL_copy1",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "LogCSVSuccess",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[config].[sp_upd_AuditLog]",
											"storedProcedureParameters": {
												"activity": {
													"value": "parquet copy",
													"type": "String"
												},
												"commenceDateTime": {
													"value": {
														"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"completeDateTime": {
													"value": null,
													"type": "DateTime"
												},
												"elMethod": {
													"value": {
														"value": "@json(item().DataLoadingBehaviorSettings).dataLoadingBehavior",
														"type": "Expression"
													},
													"type": "String"
												},
												"errorText": {
													"value": null,
													"type": "String"
												},
												"runDate": {
													"value": {
														"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"schedule": {
													"value": {
														"value": "@pipeline().parameters.TriggerName",
														"type": "Expression"
													},
													"type": "String"
												},
												"schema": {
													"value": {
														"value": "@json(item().SourceObjectSettings).fileName",
														"type": "Expression"
													},
													"type": "String"
												},
												"sourceType": {
													"value": {
														"value": "@item().SourceConnectionSettingsName",
														"type": "Expression"
													},
													"type": "String"
												},
												"status": {
													"value": "commenced",
													"type": "String"
												},
												"table": {
													"value": {
														"value": "@json(item().SourceObjectSettings).sheetName",
														"type": "Expression"
													},
													"type": "String"
												},
												"watermark": {
													"value": null,
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_azsqldb_metadatacontroldb",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "LogCSVFail",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "DefaultOneObject",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[config].[sp_upd_AuditLog]",
											"storedProcedureParameters": {
												"activity": {
													"value": "csv copy",
													"type": "String"
												},
												"commenceDateTime": {
													"value": null,
													"type": "DateTime"
												},
												"completeDateTime": {
													"value": {
														"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"elMethod": {
													"value": {
														"value": "@json(item().DataLoadingBehaviorSettings).dataLoadingBehavior",
														"type": "Expression"
													},
													"type": "String"
												},
												"errorText": {
													"value": {
														"value": "@activity('DefaultOneObject').error?.message",
														"type": "Expression"
													},
													"type": "String"
												},
												"runDate": {
													"value": {
														"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"schedule": {
													"value": {
														"value": "@pipeline().parameters.TriggerName",
														"type": "Expression"
													},
													"type": "String"
												},
												"schema": {
													"value": {
														"value": "@json(item().SourceObjectSettings).fileName",
														"type": "Expression"
													},
													"type": "String"
												},
												"sourceType": {
													"value": {
														"value": "@item().SourceConnectionSettingsName",
														"type": "Expression"
													},
													"type": "String"
												},
												"status": {
													"value": "failed",
													"type": "String"
												},
												"table": {
													"value": {
														"value": "@json(item().SourceObjectSettings).sheetName",
														"type": "Expression"
													},
													"type": "String"
												},
												"watermark": {
													"value": null,
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_azsqldb_metadatacontroldb",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Fail_LogCSVFail",
										"type": "Fail",
										"dependsOn": [
											{
												"activity": "LogCSVFail",
												"dependencyConditions": [
													"Completed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"message": {
												"value": "@concat('Acitivity failed for object: ', item().SourceObjectSettings, '. Please review the audit logs for more details.')",
												"type": "Expression"
											},
											"errorCode": "3204"
										}
									},
									{
										"name": "LogParquetSuccess",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "DefaultOneObject_Parquet",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[config].[sp_upd_AuditLog]",
											"storedProcedureParameters": {
												"activity": {
													"value": "parquet copy",
													"type": "String"
												},
												"commenceDateTime": {
													"value": null,
													"type": "DateTime"
												},
												"completeDateTime": {
													"value": {
														"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"elMethod": {
													"value": {
														"value": "@json(item().DataLoadingBehaviorSettings).dataLoadingBehavior",
														"type": "Expression"
													},
													"type": "String"
												},
												"errorText": {
													"value": null,
													"type": "String"
												},
												"runDate": {
													"value": {
														"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"schedule": {
													"value": {
														"value": "@pipeline().parameters.TriggerName",
														"type": "Expression"
													},
													"type": "String"
												},
												"schema": {
													"value": {
														"value": "@json(item().SourceObjectSettings).fileName",
														"type": "Expression"
													},
													"type": "String"
												},
												"sourceType": {
													"value": {
														"value": "@item().SourceConnectionSettingsName",
														"type": "Expression"
													},
													"type": "String"
												},
												"status": {
													"value": "succeeded",
													"type": "String"
												},
												"table": {
													"value": {
														"value": "@json(item().SourceObjectSettings).sheetName",
														"type": "Expression"
													},
													"type": "String"
												},
												"watermark": {
													"value": null,
													"type": "String"
												},
												"rowsCopied": {
													"value": {
														"value": "@activity('DefaultOneObject_Parquet').output?.rowsCopied",
														"type": "Expression"
													},
													"type": "Int64"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_azsqldb_metadatacontroldb",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "LogParquetFail",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "DefaultOneObject_Parquet",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[config].[sp_upd_AuditLog]",
											"storedProcedureParameters": {
												"activity": {
													"value": "parquet copy",
													"type": "String"
												},
												"commenceDateTime": {
													"value": null,
													"type": "DateTime"
												},
												"completeDateTime": {
													"value": {
														"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"elMethod": {
													"value": {
														"value": "@json(item().DataLoadingBehaviorSettings).dataLoadingBehavior",
														"type": "Expression"
													},
													"type": "String"
												},
												"errorText": {
													"value": {
														"value": "@activity('DefaultOneObject_Parquet').error?.message",
														"type": "Expression"
													},
													"type": "String"
												},
												"runDate": {
													"value": {
														"value": "@convertTimeZone(utcNow(),'UTC','Cen. Australia Standard Time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"schedule": {
													"value": {
														"value": "@pipeline().parameters.TriggerName",
														"type": "Expression"
													},
													"type": "String"
												},
												"schema": {
													"value": {
														"value": "@json(item().SourceObjectSettings).fileName",
														"type": "Expression"
													},
													"type": "String"
												},
												"sourceType": {
													"value": {
														"value": "@item().SourceConnectionSettingsName",
														"type": "Expression"
													},
													"type": "String"
												},
												"status": {
													"value": "failed",
													"type": "String"
												},
												"table": {
													"value": {
														"value": "@json(item().SourceObjectSettings).sheetName",
														"type": "Expression"
													},
													"type": "String"
												},
												"watermark": {
													"value": null,
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_azsqldb_metadatacontroldb",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Fail_LogParquetFail",
										"type": "Fail",
										"dependsOn": [
											{
												"activity": "LogParquetFail",
												"dependencyConditions": [
													"Completed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"message": {
												"value": "@concat('Acitivity failed for object: ', item().SourceObjectSettings, '. Please review the audit logs for more details.')",
												"type": "Expression"
											},
											"errorCode": "3204"
										}
									}
								]
							}
						},
						{
							"name": "GetSourceConnectionValues",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select ConnectionSettings from @{pipeline().parameters.ConnectionControlTableName} where Name = '@{item().SourceConnectionSettingsName} ' AND Id = @{item().Id}",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "MetadataDrivenCopy_SQL_ControlDS",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ObjectsPerGroupToCopy": {
				"type": "Array"
			},
			"ConnectionControlTableName": {
				"type": "String"
			},
			"TriggerName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "MetadataDrivenCopy_FileSystem"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-23T04:36:04Z"
	}
}