pipeline/Transformation_TopLevel.json
{
	"name": "Transformation_TopLevel",
	"properties": {
		"activities": [
			{
				"name": "GetSumOfObjectsToCopy",
				"description": "Count the total number of objects (tables etc.) required to be copied in this run.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT count(*) as count FROM @{pipeline().parameters.MainControlTableName} where TriggerName like '%@{pipeline().parameters.trigger}%' and stage = @{pipeline().parameters.stage} and CopyEnabled = 1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsqldb_satacsqldbcontroldb",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopyBatchesOfObjectsSequentially",
				"description": "Come up with the number of sequential batches based on the max allowed concurrent copy tasks, and then execute another pipeline to copy different batches sequentially.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSumOfObjectsToCopy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(0, add(div(activity('GetSumOfObjectsToCopy').output.firstRow.count,\n                    pipeline().parameters.MaxNumberOfConcurrentTasks),\n                    if(equals(mod(activity('GetSumOfObjectsToCopy').output.firstRow.count,\n                    pipeline().parameters.MaxNumberOfConcurrentTasks), 0), 0, 1)))",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyObjectsInOneBatch",
							"description": "Execute another pipeline to copy one batch of objects. The objects belonging to this batch will be copied parallelly.",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Transformation_MiddleLevel",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"MaxNumberOfObjectsReturnedFromLookupActivity": {
										"value": "@pipeline().parameters.MaxNumberOfObjectsReturnedFromLookupActivity",
										"type": "Expression"
									},
									"TopLevelPipelineName": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"TriggerName": {
										"value": "@pipeline().parameters.trigger",
										"type": "Expression"
									},
									"CurrentSequentialNumberOfBatch": {
										"value": "@item()",
										"type": "Expression"
									},
									"SumOfObjectsToCopy": {
										"value": "@activity('GetSumOfObjectsToCopy').output.firstRow.count",
										"type": "Expression"
									},
									"SumOfObjectsToCopyForCurrentBatch": {
										"value": "@min(pipeline().parameters.MaxNumberOfConcurrentTasks, activity('GetSumOfObjectsToCopy').output.firstRow.count)",
										"type": "Expression"
									},
									"MainControlTableName": {
										"value": "@pipeline().parameters.MainControlTableName",
										"type": "Expression"
									},
									"databaseName": {
										"value": "@pipeline().parameters.databaseName",
										"type": "Expression"
									},
									"stage": {
										"value": "@pipeline().parameters.stage",
										"type": "Expression"
									},
									"PipelineStartTime": {
										"value": "@pipeline().parameters.PipelineStartTime",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"databaseName": {
				"type": "string",
				"defaultValue": "controldb"
			},
			"MaxNumberOfObjectsReturnedFromLookupActivity": {
				"type": "int",
				"defaultValue": 5000
			},
			"MaxNumberOfConcurrentTasks": {
				"type": "int",
				"defaultValue": 50
			},
			"MainControlTableName": {
				"type": "string",
				"defaultValue": "config.vw_MaterialisedTransform"
			},
			"stage": {
				"type": "int",
				"defaultValue": 1
			},
			"trigger": {
				"type": "string",
				"defaultValue": "manual"
			},
			"PipelineStartTime": {
				"type": "string"
			}
		},
		"folder": {
			"name": "SCD"
		},
		"annotations": []
	}
}